{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Mon compte</a>
    <hr>
    {% if notification_success %}
        <div class="alert alert-success">{{ notification_success }}</div>
    {% endif %}
    {% if notification_error %}
        <div class="alert alert-danger">{{ notification_error }}</div>
    {% endif %}
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(passwordForm) }}

{% endblock %}
